// Place all the styles related to the tweets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.tweet {
  padding: 10px;
  border-bottom: 1pt solid #888;
  transition: background-color 0.2s;
  -webkit-transition: background-color 0.2s;
  &:hover {
    background-color: #f1f1f1;
  }
}
